.nav{
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 30px;
}

.nav ul{
  text-align: center;
}

.nav ul li{
  width: 100%;
  background: #23B5E1;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

.nav ul li:last-child{
  margin-bottom: 0;
}

.nav ul a{
  text-decoration: none;
  color: #fff;
  font: 15px/22px 'Arial';
}

.nav a:hover{
  color: #23b5e1;
}

@media screen and (min-width: 640px){
  .nav ul{
    text-align: justify;
    margin-bottom: -0.1px;
    font-size: 0.1px;
  }

  .nav ul:after {
    content: '  ';
    display: inline-block;
    width: 100%;
  }

  .nav ul li{
    display: inline-block;
    background: none;
    width: auto;
    margin-bottom: 0;
  }



  .nav ul a{
   color: #393939;
 }


}



